.input{
  @apply relative block mb-6;

  >input{
    @apply rounded-lg py-2 px-4 w-full block outline-0 text-white;
    background-color: #39393a;
    transition: box-shadow 0.4s ease;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.03);

    &::placeholder{
      color: #989898;
    }

    &:focus{
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

