.search_top{
  @apply relative w-7/12;

  >label{
    @apply block relative;

    input{
      @apply rounded-lg py-2 px-3 w-full block outline-0 text-white shadow;
      background-color: #3f3f41;
      transition: box-shadow 0.4s ease;

      &::placeholder{
        color: #848486;
      }

      &:focus{
        @apply shadow-md;
      }
    }

    img{
      @apply absolute right-4 top-2.5 opacity-90;
      max-width: 18px;
    }
  }
}

.result{
  @apply shadow-block rounded-lg animate-scaleIn absolute w-full z-20 p-5 mt-3;
  background-color: #3f3f41;
  max-height: 240px;
  height: auto;
  overflow: auto;
  left: 0;

}