.main{
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: top right;
  height: 36rem;
  @media(max-width: 600px){
    background-position: top center;
    background-position-x: right;
  }

  &::before{
    content: '';
    background-image: linear-gradient(to right, #0d1011, transparent);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
  }

  .poster{
    position: absolute;
    z-index: 2;
    margin-bottom: 2rem;
    padding-top: 4rem;
    @media(max-width: 500px){
      width: 200px;
    }
  }
}